<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Exibindo o nome completo do usuário -->
        <h1>Bem-vindo, {{ user.get('first_name', 'Usuário') }} {{ user.get('last_name', '') }}!</h1>

        <!-- Exibindo o email do usuário -->
        <p>Email: {{ user.get('email') }}</p>

        <!-- Exibindo campos opcionais, se existirem -->
        {% if user.get('birth_date') %}
            <p>Data de Nascimento: {{ user.get('birth_date') }}</p>
        {% endif %}

        {% if user.get('cpf') %}
            <p>CPF: {{ user.get('cpf') }}</p>
        {% endif %}

        <!-- Botões para ações -->
        <div class="button-container">
            <a href="{{ url_for('main.index') }}">Fazer Doação</a>
            <a href="{{ url_for('main.index') }}">Acompanhar Doações</a>
        </div>

        <!-- Botões para Logout, Atualização e Exclusão de Conta -->
        <div class="button-container">
            <a href="{{ url_for('auth.logout') }}" class="delete-button">Sair</a>
            <a href="{{ url_for('auth.update_user_page') }}" class="update-button">Atualizar Dados</a>
            <button id="delete-account-btn" class="delete-button">Excluir Conta</button>
        </div>
    </div>

    <script>
        document.getElementById('delete-account-btn').addEventListener('click', function() {
            // Solicitação AJAX para excluir a conta
            fetch('{{ url_for("auth.delete_user") }}', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: '{{ user.get("email") }}'
                })
            })
            .then(response => {
                if (response.ok) {
                    // Exibe uma mensagem de sucesso e redireciona
                    alert("Conta excluída com sucesso!");
                    window.location.href = "{{ url_for('auth.login_page') }}";
                } else {
                    return response.json().then(data => {
                        alert(data.message);
                    });
                }
            })
            .catch(error => {
                console.error('Erro ao excluir conta:', error);
                alert('Ocorreu um erro ao excluir a conta.');
            });
        });
    </script>
</body>
</html>
